* {
	margin: 0;
	padding: 10px;
	font-weight: 100;
	scroll-behavior: smooth;
}
//Variables de fuente
$base-font-size:18px;
$big-font-size:30px;
//variables de color
$bg-color-a:red;
$bg-color-b:green;
$color-gradient-c: linear-gradient(to top, #ffb347, #ffcc33);
$color-gradient-d: linear-gradient(to bottom, #8e9eab, #eef2f3);
$color-gradient-e: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);


.hamburger_menu {
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

.offcanvas {
    background-color: $bg-color-a;
}

.offcanvas-body {
    background-color: $bg-color-a;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 250px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
